<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   data.plist
   SwipeItUp

   Created by Akhila Kandi on 12/5/16.
   Copyright (c) 2016 Akhila Kandi. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
